@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    font-family: Helvetica;
    font-size: 1vw;
    background-color: #000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
div{display: block;overflow: hidden;}
a { color:#aaa49a; text-decoration:none; }
a:hover { color:#E65621; text-decoration:none; }
.clear		{ clear:both; height:0; overflow:hidden; }
.hidden		{ display:none; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.background{
	position: relative;
	width: 100%;
	z-index: 0;
	opacity: 1;
	/* top:4%; */
}

header{
    position: relative;
    z-index: 2;
    border:2px solid white;
}

section{
	border:0px solid #ccc;
	z-index: 5;
}

article{
	position: relative;
	z-index: 5;
}

footer{
	position: relative;
	border:2px solid orange;
	z-index: 5;
}

#wrapper{
	width: 100%;
}

#container{
	margin:0 auto;
	width: 960px;
}

#background{
	position: relative;
	z-index: 0;
	top:-48px;
}

.bg-img{
    left: 0%;
    position: absolute;
    top: 0%;    
    z-index: 1;  
}
.bg-img img{
	width: 100%;
}

.logo-bg{
    position: absolute;
	top:0%;left:0%;
    width: 100%;
    z-index: 1;
}

.logo{
    left: 56%;
    position: absolute;
    top: 3%;
    width: 13%;
    z-index: 2;
}

.smoke{
	left: 6%;
    position: absolute;
    top: 13%;
    z-index: 2;
}
.smoke img{width: 70%;}
.nav-main{
	position: relative;
	z-index: 4;
	left: 16%;
}
.nav-main ul {}
.nav-main li {
    float:left;
    margin-left: 1%;
    padding-top:1%;
}
.nav-main  li>a {	
    color: #FFFFFF;
    display: block;
    font-size: 1vw;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
}
.nav-main li>a:hover {
    color : #fe4d01;
    background:url(images/hight_light_1.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size:55px;
}

.mainwidth{width: 45px;}

.nav-head {
	  left: 70%;
    position: absolute;
    top: 2%;
    width: 26%;
    z-index: 5;
}

.nav-head ul{
	/* padding-top:9px; */
}

.nav-head li{
	float: left;
}
.nav-head a { 
    color: #E65621;
    height: 10px;
    padding: 0 5px 0 0;
}
.nav-head a:hover { 
    color : #fff;   
}

.partyhouse ul{
	margin-left: 13%;
    width: 22%;
}

.partyhouse ul>li>a{
	font-size:2vw; 
	text-transform: uppercase;
}

.partyhouse ul>li>a:hover{
	color: 
}
.partyhouse{
	left: 20%;
    position: absolute;
    top: 7%;
    width: 100%;
    z-index: 3;
}

.partyhouse .text{
	left: 22%;
    top: 9%;
    width: 35%;
}

.partyhouse li>img{
	float: left;width: 11%;
}

.diamond {
    left: 55%;
    position: absolute;
    top: 10%;
    z-index: 2;
}

.diamond img{
	width: 45%;
	-webkit-filter: grayscale(0%);
}

.diamond img:hover{
	filter: none;
 	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  	filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
.design{
	left: 18%;
    position: absolute;
    top: 44%;
    width: 43%;
}

.design img{
	width: 50%;
}

.nav-ph1{
	left: 46%;
    position: absolute;
    top: 40%;
    width: 43%;
}

.nav-ph1 img{
	width: 20px;
}

.nav-ph1 ul{
	margin-left: 23px;
}

.nav-ph1 ul>li{
    text-transform: uppercase;
    font-weight: bold;
}

.nav-ph1 ul>li.tab1{
	margin-left: 0;
    padding: 3%;
}

.nav-ph1 ul>li.tab2{
	margin-left: 13%;
    padding: 3%;
}

.nav-ph1 ul>li.tab3{
	margin-left: 27%;
    padding: 3%;
}

.nav-ph1 ul>li.tab4{
	margin-left: 43%;
    padding: 3%;
}

.nav-ph1 ul>li>a{
	color: #000000;
    font-size: 3vw;
}

.nav-ph1 ul>li:hover{
	color:#fff;
	background:url(images/hight_light_2.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size:100px;
}

.special{
 	left: 62%;
    position: absolute;
    top: 24%;
    width: 50%;
    z-index: 2;
}

.special img{
	width: 37%;
}

.special .dat{
	width: 12px;
	height: 12px;
}

.special ul{
	  margin-left: -3%;
}

.special ul>li{
	list-style:  none;
    text-transform: uppercase;
    font-weight: bold;
}
.special ul>li>a{
	padding-left:20px;
	font-size: 14px;
	color:#eeecec;
}

.special ul>li>a:hover{
	color:#E65621;
}
	
.glass{
	left: 64%;
    position: absolute;
    top: 60%;
    z-index: 1;
}
.glass img{width: 134%;}

.menu{
	font-size: 2vw;
    left: 54%;
    position: absolute;
    top: 82%;
    z-index: 2;
}

.menu img {
	width: 50%;
}

.menu ul {
	padding-left:7%
}

.menu ul>li>a {
	font-size: 2vw;
}

.design a{
	font-size: 2vw;
	padding-left: 2%
}

.row1{
	position: relative;
	border:3px solid blue;
	z-index: 5;
}
.row2{
	position: relative;
	border:3px solid red;
	z-index: 5;
}
.row3{
	position: relative;
	border:3px solid pink;
	z-index: 5;
}


.gallery{	
	position: relative;
    top: -48px;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
}
.gallery img{
	width: 19.6%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  	filter: gray; /* IE6-9 */
  	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.gallery img:hover{
	filter: none;
  -webkit-filter: grayscale(0%);
    
} 

.footer{
	position: relative;
    top: -48px;
    z-index: 2;
    display: inline-block;
    overflow: hidden;
}

.footer img{
	width: 100%;
}

.footer .copyright{
	font-size: 1vw;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    top: -20px;
    text-align:center;
    z-index: 6;
    color:#AAA49A;
}